In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

warnings.filterwarnings(action='ignore')
pd.set_option('display.max_columns',None)
#pd.set_option('display.max_rows',None)
pd.options.display.float_format="{:.5f}".format
plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/2023빅콘/data/예술의전당/제공데이터_공연명_내한_매칭.csv')

concert_price = pd.read_csv('/content/drive/MyDrive/2023빅콘/data/예술의전당/kopis_concert_seat.csv')
ticket = pd.read_csv('/content/drive/MyDrive/2023빅콘/data/예술의전당/kopis_ticket.csv')

In [ ]:
data.head(1)

,age,gender,membership_type_1,membership_type_2,membership_type_3,membership_type_4,membership_type_5,membership_type_6,tran_date,tran_time,play_date,play_st_time,seat,price,ticket_cancel,discount_type,performance_code,pre_open_date,open_date,genre,place,running_time,intermission,member_yn,공연명,내한여부
0,50.00000,M,무료,NaN,NaN,NaN,NaN,NaN,20220206,1615,20220302,1930,1층 B블록12열 7,180000,0,일반,897,20220109.00000,20220110.00000,독주,콘서트홀,90,0,Y,"국립합창단 위대한 합창 Ⅰ, 칼 오르프 & 카르미나 부라나",0

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 791458 entries, 0 to 791457
Data columns (total 26 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   age                350895 non-null  float64
 1   gender             351105 non-null  object
 2   membership_type_1  351105 non-null  object
 3   membership_type_2  284185 non-null  object
 4   membership_type_3  102989 non-null  object
 5   membership_type_4  18570 non-null   object
 6   membership_type_5  856 non-null     object
 7   membership_type_6  0 non-null       float64
 8   tran_date          791458 non-null  int64
 9   tran_time          791458 non-null  int64
 10  play_date          791458 non-null  int64
 11  play_st_time       791458 non-null  int64
 12  seat               791458 non-null  object
 13  price              791458 non-null  int64
 14  ticket_cancel      791458 non-null  int64
 15  discount_type      791458 non-null  object
 16  performance_code   791458 non-null  int64
 17  pre_open_date      516992 non-null  float64
 18  open_date          791458 non-null  float64
 19  genre              791458 non-null  object
 20  place              791458 non-null  object
 21  running_time       791458 non-null  int64
 22  intermission       791458 non-null  int64
 23  member_yn          791458 non-null  object
 24  공연명                791458 non-null  object
 25  내한여부               791458 non-null  int64
dtypes: float64(4), int64(10), object(12)
memory usage: 157.0+ MB

In [ ]:
concert_price.head(1)

,prfnm,prfpdfrom,prfpdto,prfcast,prfcrew,prfruntime,prfage,entrpsnm,pcseguidance,sty,genrenm,prfstate,dtguidance,prices,R,S,A
0,조성진 피아노 리사이틀,2023.07.04,2023.07.05,조성진,NaN,1시간 40분,만 7세 이상,NaN,"R석 120,000원, S석 90,000원, A석 70,000원, B석 50,000원",NaN,서양음악(클래식),공연완료,화요일 ~ 수요일(19:30),"[120000, 90000, 70000, 50000]",120000.00000,85000.00000,50000.00000

In [ ]:
print(len(data))
print(len(concert_price))

791458
1075

In [ ]:
data = data.drop_duplicates()
concert_price = concert_price.drop_duplicates()

In [ ]:
print(len(data))
print(len(concert_price))

791458
1075

In [ ]:
data = data.reset_index(drop=True)
concert_price = concert_price.reset_index(drop=True)

In [ ]:
concert_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1075 entries, 0 to 1074
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   prfnm         1075 non-null   object
 1   prfpdfrom     1075 non-null   object
 2   prfpdto       1075 non-null   object
 3   prfcast       1019 non-null   object
 4   prfcrew       106 non-null    object
 5   prfruntime    1073 non-null   object
 6   prfage        1074 non-null   object
 7   entrpsnm      208 non-null    object
 8   pcseguidance  1071 non-null   object
 9   sty           558 non-null    object
 10  genrenm       1075 non-null   object
 11  prfstate      1075 non-null   object
 12  dtguidance    1075 non-null   object
 13  prices        1075 non-null   object
 14  R             1062 non-null   float64
 15  S             1062 non-null   float64
 16  A             1062 non-null   float64
dtypes: float64(3), object(14)
memory usage: 142.9+ KB

In [ ]:
ticket.head(1)

   totnmrs      date
0     1307  20181101

In [ ]:
concert_price.head(1)

,prfnm,prfpdfrom,prfpdto,prfcast,prfcrew,prfruntime,prfage,entrpsnm,pcseguidance,sty,genrenm,prfstate,dtguidance,prices,R,S,A
0,조성진 피아노 리사이틀,2023.07.04,2023.07.05,조성진,NaN,1시간 40분,만 7세 이상,NaN,"R석 120,000원, S석 90,000원, A석 70,000원, B석 50,000원",NaN,서양음악(클래식),공연완료,화요일 ~ 수요일(19:30),"[120000, 90000, 70000, 50000]",120000.00000,85000.00000,50000.00000

In [ ]:
concert_price.rename(columns={'prfnm': '공연명'}, inplace=True)

In [ ]:
concert_price.head(1)

,공연명,prfpdfrom,prfpdto,prfcast,prfcrew,prfruntime,prfage,entrpsnm,pcseguidance,sty,genrenm,prfstate,dtguidance,prices,R,S,A
0,조성진 피아노 리사이틀,2023.07.04,2023.07.05,조성진,NaN,1시간 40분,만 7세 이상,NaN,"R석 120,000원, S석 90,000원, A석 70,000원, B석 50,000원",NaN,서양음악(클래식),공연완료,화요일 ~ 수요일(19:30),"[120000, 90000, 70000, 50000]",120000.00000,85000.00000,50000.00000

In [ ]:
import pandas as pd

# 결과를 저장할 빈 데이터프레임 생성
expanded_concert_price = pd.DataFrame()

# 각 행에 대해 'prfpdfrom'과 'prfpdto' 사이의 날짜 범위를 구함
for idx, row in concert_price.iterrows():
    date_range = pd.date_range(row['prfpdfrom'], row['prfpdto'])
    for date in date_range:
        new_row = row.copy()
        new_row['play_date'] = date.strftime('%Y%m%d') # 날짜 형식을 '20220206'과 같이 변환
        expanded_concert_price = expanded_concert_price.append(new_row, ignore_index=True)

# 'play_date'를 문자열 타입으로 변환 (필요한 경우)
expanded_concert_price['play_date'] = expanded_concert_price['play_date'].astype(str)

In [ ]:
expanded_concert_price.head(2)

,공연명,prfpdfrom,prfpdto,prfcast,prfcrew,prfruntime,prfage,entrpsnm,pcseguidance,sty,genrenm,prfstate,dtguidance,prices,R,S,A,play_date
0,조성진 피아노 리사이틀,2023.07.04,2023.07.05,조성진,NaN,1시간 40분,만 7세 이상,NaN,"R석 120,000원, S석 90,000원, A석 70,000원, B석 50,000원",NaN,서양음악(클래식),공연완료,화요일 ~ 수요일(19:30),"[120000, 90000, 70000, 50000]",120000.00000,85000.00000,50000.00000,20230704
1,조성진 피아노 리사이틀,2023.07.04,2023.07.05,조성진,NaN,1시간 40분,만 7세 이상,NaN,"R석 120,000원, S석 90,000원, A석 70,000원, B석 50,000원",NaN,서양음악(클래식),공연완료,화요일 ~ 수요일(19:30),"[120000, 90000, 70000, 50000]",120000.00000,85000.00000,50000.00000,20230705

In [ ]:
data['play_date'] = data['play_date'].astype(str)
expanded_concert_price['play_date'] = expanded_concert_price['play_date'].astype(str)

merged_df = data.merge(expanded_concert_price, on=['공연명', 'play_date'], how='inner')

# 필요 없는 'prfnm' 컬럼 삭제
#merged_df = merged_df.drop('prfnm', axis=1)

In [ ]:
merged_df.shape

(794783, 42)

In [ ]:
merged_df = merged_df.drop_duplicates()

In [ ]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 794783 entries, 0 to 794782
Data columns (total 42 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   age                351780 non-null  float64
 1   gender             351990 non-null  object
 2   membership_type_1  351990 non-null  object
 3   membership_type_2  284767 non-null  object
 4   membership_type_3  103164 non-null  object
 5   membership_type_4  18616 non-null   object
 6   membership_type_5  860 non-null     object
 7   membership_type_6  0 non-null       float64
 8   tran_date          794783 non-null  int64
 9   tran_time          794783 non-null  int64
 10  play_date          794783 non-null  object
 11  play_st_time       794783 non-null  int64
 12  seat               794783 non-null  object
 13  price              794783 non-null  int64
 14  ticket_cancel      794783 non-null  int64
 15  discount_type      794783 non-null  object
 16  performance_code   794783 non-null  int64
 17  pre_open_date      516992 non-null  float64
 18  open_date          794783 non-null  float64
 19  genre              794783 non-null  object
 20  place              794783 non-null  object
 21  running_time       794783 non-null  int64
 22  intermission       794783 non-null  int64
 23  member_yn          794783 non-null  object
 24  공연명                794783 non-null  object
 25  내한여부               794783 non-null  int64
 26  prfpdfrom          794783 non-null  object
 27  prfpdto            794783 non-null  object
 28  prfcast            747935 non-null  object
 29  prfcrew            76978 non-null   object
 30  prfruntime         794783 non-null  object
 31  prfage             792282 non-null  object
 32  entrpsnm           36034 non-null   object
 33  pcseguidance       792614 non-null  object
 34  sty                374727 non-null  object
 35  genrenm            794783 non-null  object
 36  prfstate           794783 non-null  object
 37  dtguidance         794783 non-null  object
 38  prices             794783 non-null  object
 39  R                  786409 non-null  float64
 40  S                  786409 non-null  float64
 41  A                  786409 non-null  float64
dtypes: float64(7), int64(9), object(26)
memory usage: 260.7+ MB

In [ ]:
merged_df.head()

,age,gender,membership_type_1,membership_type_2,membership_type_3,membership_type_4,membership_type_5,membership_type_6,tran_date,tran_time,play_date,play_st_time,seat,price,ticket_cancel,discount_type,performance_code,pre_open_date,open_date,genre,place,running_time,intermission,member_yn,공연명,내한여부,prfpdfrom,prfpdto,prfcast,prfcrew,prfruntime,prfage,entrpsnm,pcseguidance,sty,genrenm,prfstate,dtguidance,prices,R,S,A
0,50.00000,M,무료,NaN,NaN,NaN,NaN,NaN,20220206,1615,20220302,1930,1층 B블록12열 7,180000,0,일반,897,20220109.00000,20220110.00000,독주,콘서트홀,90,0,Y,"국립합창단 위대한 합창 Ⅰ, 칼 오르프 & 카르미나 부라나",0,2022.03.02,2022.03.02,"윤의중, 박미자, 박의준, 한명원 등",NaN,1시간 10분,만 7세 이상,NaN,"R석 30,000원, S석 20,000원, A석 10,000원",NaN,서양음악(클래식),공연완료,수요일(19:30),"[30000, 20000, 10000]",30000.00000,20000.00000,10000.00000
1,50.00000,F,골드,무료,그린,NaN,NaN,NaN,20220220,1410,20220302,1930,합창석 G블록2열 24,110000,2,일반,897,20220109.00000,20220110.00000,독주,콘서트홀,90,0,Y,"국립합창단 위대한 합창 Ⅰ, 칼 오르프 & 카르미나 부라나",0,2022.03.02,2022.03.02,"윤의중, 박미자, 박의준, 한명원 등",NaN,1시간 10분,만 7세 이상,NaN,"R석 30,000원, S석 20,000원, A석 10,000원",NaN,서양음악(클래식),공연완료,수요일(19:30),"[30000, 20000, 10000]",30000.00000,20000.00000,10000.00000
2,30.00000,M,골드,무료,그린,NaN,NaN,NaN,20220222,102,20220302,1930,1층 C블록4열 1,180000,2,일반,897,20220109.00000,20220110.00000,독주,콘서트홀,90,0,Y,"국립합창단 위대한 합창 Ⅰ, 칼 오르프 & 카르미나 부라나",0,2022.03.02,2022.03.02,"윤의중, 박미자, 박의준, 한명원 등",NaN,1시간 10분,만 7세 이상,NaN,"R석 30,000원, S석 20,000원, A석 10,000원",NaN,서양음악(클래식),공연완료,수요일(19:30),"[30000, 20000, 10000]",30000.00000,20000.00000,10000.00000
3,40.00000,F,무료,NaN,NaN,NaN,NaN,NaN,20220221,932,20220302,1930,2층 B블록5열 12,180000,0,일반,897,20220109.00000,20220110.00000,독주,콘서트홀,90,0,Y,"국립합창단 위대한 합창 Ⅰ, 칼 오르프 & 카르미나 부라나",0,2022.03.02,2022.03.02,"윤의중, 박미자, 박의준, 한명원 등",NaN,1시간 10분,만 7세 이상,NaN,"R석 30,000원, S석 20,000원, A석 10,000원",NaN,서양음악(클래식),공연완료,수요일(19:30),"[30000, 20000, 10000]",30000.00000,20000.00000,10000.00000
4,40.00000,F,블루,골드,무료,NaN,NaN,NaN,20220109,1755,20220302,1930,1층 C블록13열 14,162000,2,골드회원 할인10%,897,20220109.00000,20220110.00000,독주,콘서트홀,90,0,Y,"국립합창단 위대한 합창 Ⅰ, 칼 오르프 & 카르미나 부라나",0,2022.03.02,2022.03.02,"윤의중, 박미자, 박의준, 한명원 등",NaN,1시간 10분,만 7세 이상,NaN,"R석 30,000원, S석 20,000원, A석 10,000원",NaN,서양음악(클래식),공연완료,수요일(19:30),"[30000, 20000, 10000]",30000.00000,20000.00000,10000.00000

In [ ]:
ticket.head(1)

   totnmrs      date
0     1307  20181101

In [ ]:
ticket.rename(columns={'date': 'play_date'}, inplace=True)

In [ ]:
ticket['play_date'] = ticket['play_date'].astype(str)

In [ ]:
merged_df = merged_df.merge(ticket, on='play_date', how='inner')

In [ ]:
merged_df.head(1)

,age,gender,membership_type_1,membership_type_2,membership_type_3,membership_type_4,membership_type_5,membership_type_6,tran_date,tran_time,play_date,play_st_time,seat,price,ticket_cancel,discount_type,performance_code,pre_open_date,open_date,genre,place,running_time,intermission,member_yn,공연명,내한여부,prfpdfrom,prfpdto,prfcast,prfcrew,prfruntime,prfage,entrpsnm,pcseguidance,sty,genrenm,prfstate,dtguidance,prices,R,S,A,totnmrs
0,50.00000,M,무료,NaN,NaN,NaN,NaN,NaN,20220206,1615,20220302,1930,1층 B블록12열 7,180000,0,일반,897,20220109.00000,20220110.00000,독주,콘서트홀,90,0,Y,"국립합창단 위대한 합창 Ⅰ, 칼 오르프 & 카르미나 부라나",0,2022.03.02,2022.03.02,"윤의중, 박미자, 박의준, 한명원 등",NaN,1시간 10분,만 7세 이상,NaN,"R석 30,000원, S석 20,000원, A석 10,000원",NaN,서양음악(클래식),공연완료,수요일(19:30),"[30000, 20000, 10000]",30000.00000,20000.00000,10000.00000,1039

In [ ]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 793913 entries, 0 to 793912
Data columns (total 43 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   age                351443 non-null  float64
 1   gender             351653 non-null  object
 2   membership_type_1  351653 non-null  object
 3   membership_type_2  284491 non-null  object
 4   membership_type_3  103035 non-null  object
 5   membership_type_4  18586 non-null   object
 6   membership_type_5  860 non-null     object
 7   membership_type_6  0 non-null       float64
 8   tran_date          793913 non-null  int64
 9   tran_time          793913 non-null  int64
 10  play_date          793913 non-null  object
 11  play_st_time       793913 non-null  int64
 12  seat               793913 non-null  object
 13  price              793913 non-null  int64
 14  ticket_cancel      793913 non-null  int64
 15  discount_type      793913 non-null  object
 16  performance_code   793913 non-null  int64
 17  pre_open_date      516122 non-null  float64
 18  open_date          793913 non-null  float64
 19  genre              793913 non-null  object
 20  place              793913 non-null  object
 21  running_time       793913 non-null  int64
 22  intermission       793913 non-null  int64
 23  member_yn          793913 non-null  object
 24  공연명                793913 non-null  object
 25  내한여부               793913 non-null  int64
 26  prfpdfrom          793913 non-null  object
 27  prfpdto            793913 non-null  object
 28  prfcast            747065 non-null  object
 29  prfcrew            76108 non-null   object
 30  prfruntime         793913 non-null  object
 31  prfage             791412 non-null  object
 32  entrpsnm           36034 non-null   object
 33  pcseguidance       791744 non-null  object
 34  sty                374727 non-null  object
 35  genrenm            793913 non-null  object
 36  prfstate           793913 non-null  object
 37  dtguidance         793913 non-null  object
 38  prices             793913 non-null  object
 39  R                  785539 non-null  float64
 40  S                  785539 non-null  float64
 41  A                  785539 non-null  float64
 42  totnmrs            793913 non-null  int64
dtypes: float64(7), int64(10), object(26)
memory usage: 266.5+ MB

In [ ]:
# 문자열 날짜를 datetime 형태로 변환
merged_df['play_date'] = pd.to_datetime(merged_df['play_date'], format='%Y%m%d')

# 요일 정보를 가져와서 merged_df['days']에 저장
# 월(0), 화(1), 수(2), 목(3), 금(4), 토(5), 일(6)
merged_df['days'] = merged_df['play_date'].dt.dayofweek

merged_df.head(1)

,age,gender,membership_type_1,membership_type_2,membership_type_3,membership_type_4,membership_type_5,membership_type_6,tran_date,tran_time,play_date,play_st_time,seat,price,ticket_cancel,discount_type,performance_code,pre_open_date,open_date,genre,place,running_time,intermission,member_yn,공연명,내한여부,prfpdfrom,prfpdto,prfcast,prfcrew,prfruntime,prfage,entrpsnm,pcseguidance,sty,genrenm,prfstate,dtguidance,prices,R,S,A,totnmrs,days
0,50.00000,M,무료,NaN,NaN,NaN,NaN,NaN,20220206,1615,2022-03-02,1930,1층 B블록12열 7,180000,0,일반,897,20220109.00000,20220110.00000,독주,콘서트홀,90,0,Y,"국립합창단 위대한 합창 Ⅰ, 칼 오르프 & 카르미나 부라나",0,2022.03.02,2022.03.02,"윤의중, 박미자, 박의준, 한명원 등",NaN,1시간 10분,만 7세 이상,NaN,"R석 30,000원, S석 20,000원, A석 10,000원",NaN,서양음악(클래식),공연완료,수요일(19:30),"[30000, 20000, 10000]",30000.00000,20000.00000,10000.00000,1039,2

In [ ]:
memb_val = merged_df[['membership_type_1', 'membership_type_2', 'membership_type_3',
                        'membership_type_4', 'membership_type_5', 'membership_type_6']].values.tolist()

merged_df['membership'] = memb_val
merged_df['membership'] = merged_df['membership'].apply(lambda x: [val for val in x if not pd.isna(val)])

def custom_sort(lst):
    order = ['무료', '싹틔우미', '노블', '골드', '블루', '그린']
    return sorted(lst, key=lambda x: order.index(x) if x in order else len(order))

merged_df['membership'] = merged_df['membership'].apply(custom_sort)

unique_memberships = ['무료', '싹틔우미', '노블', '골드', '블루', '그린']

for membership_type in unique_memberships:
    merged_df[membership_type] = merged_df['membership'].apply(lambda x: 1 if membership_type in x else 0)

In [ ]:
merged_df.head(1)

,age,gender,membership_type_1,membership_type_2,membership_type_3,membership_type_4,membership_type_5,membership_type_6,tran_date,tran_time,play_date,play_st_time,seat,price,ticket_cancel,discount_type,performance_code,pre_open_date,open_date,genre,place,running_time,intermission,member_yn,공연명,내한여부,prfpdfrom,prfpdto,prfcast,prfcrew,prfruntime,prfage,entrpsnm,pcseguidance,sty,genrenm,prfstate,dtguidance,prices,R,S,A,totnmrs,days,membership,무료,싹틔우미,노블,골드,블루,그린
0,50.00000,M,무료,NaN,NaN,NaN,NaN,NaN,20220206,1615,2022-03-02,1930,1층 B블록12열 7,180000,0,일반,897,20220109.00000,20220110.00000,독주,콘서트홀,90,0,Y,"국립합창단 위대한 합창 Ⅰ, 칼 오르프 & 카르미나 부라나",0,2022.03.02,2022.03.02,"윤의중, 박미자, 박의준, 한명원 등",NaN,1시간 10분,만 7세 이상,NaN,"R석 30,000원, S석 20,000원, A석 10,000원",NaN,서양음악(클래식),공연완료,수요일(19:30),"[30000, 20000, 10000]",30000.00000,20000.00000,10000.00000,1039,2,[무료],1,0,0,0,0,0

In [ ]:
# 필요없는 column drop
merged_df = merged_df.drop(['membership_type_1', 'membership_type_2', 'membership_type_3',\
      'membership_type_4', 'membership_type_5', 'membership_type_6',\
      'performance_code', 'place', 'prfpdfrom', 'prfpdto',\
      'running_time', 'pcseguidance', 'sty', 'genrenm', 'prfstate'], axis=1)

In [ ]:
merged_df.head(1)

,age,gender,tran_date,tran_time,play_date,play_st_time,seat,price,ticket_cancel,discount_type,pre_open_date,open_date,genre,intermission,member_yn,공연명,내한여부,prfcast,prfcrew,prfruntime,prfage,entrpsnm,dtguidance,prices,R,S,A,totnmrs,days,membership,무료,싹틔우미,노블,골드,블루,그린
0,50.00000,M,20220206,1615,2022-03-02,1930,1층 B블록12열 7,180000,0,일반,20220109.00000,20220110.00000,독주,0,Y,"국립합창단 위대한 합창 Ⅰ, 칼 오르프 & 카르미나 부라나",0,"윤의중, 박미자, 박의준, 한명원 등",NaN,1시간 10분,만 7세 이상,NaN,수요일(19:30),"[30000, 20000, 10000]",30000.00000,20000.00000,10000.00000,1039,2,[무료],1,0,0,0,0,0

In [ ]:
# kopis요일 데이터 드랍
merged_df = merged_df.drop(['dtguidance'], axis=1)

In [ ]:
merged_df.head(1)

,age,gender,tran_date,tran_time,play_date,play_st_time,seat,price,ticket_cancel,discount_type,pre_open_date,open_date,genre,intermission,member_yn,공연명,내한여부,prfcast,prfcrew,prfruntime,prfage,entrpsnm,prices,R,S,A,totnmrs,days,membership,무료,싹틔우미,노블,골드,블루,그린
0,50.00000,M,20220206,1615,2022-03-02,1930,1층 B블록12열 7,180000,0,일반,20220109.00000,20220110.00000,독주,0,Y,"국립합창단 위대한 합창 Ⅰ, 칼 오르프 & 카르미나 부라나",0,"윤의중, 박미자, 박의준, 한명원 등",NaN,1시간 10분,만 7세 이상,NaN,"[30000, 20000, 10000]",30000.00000,20000.00000,10000.00000,1039,2,[무료],1,0,0,0,0,0

In [ ]:
merged_df.rename(columns={'age': '연령', 'gender': '성별', 'tran_date': '예매일자', 'tran_time': '예매시간', 'play_date': '공연일자', 'play_st_time': '공연시작시간', 'seat': '좌석', 'price': '결제가격', 'ticket_cancel': '취소여부', 'discount_type': '할인내역', 'pre_open_date': '선예매시작일', 'open_date': '예매시작일', 'genre': '장르', 'intermission': '휴게시간', 'member_yn': '회원여부', 'prfcast': '출연진', 'prfcrew': '제작진', 'prfruntime': '러닝타임', 'prfage': '관람연령', 'entrpsnm': '제작사', 'prices': '가격종류', 'R': 'R석', 'S': 'S석', 'A': 'A석', 'totnmrs': '티켓판매량', 'days': '요일', 'membership': '멤버십'}, inplace=True)

In [ ]:
merged_df.head(1)

,연령,성별,예매일자,예매시간,공연일자,공연시작시간,좌석,결제가격,취소여부,할인내역,선예매시작일,예매시작일,장르,휴게시간,회원여부,공연명,내한여부,출연진,제작진,러닝타임,관람연령,제작사,가격종류,R석,S석,A석,티켓판매량,요일,멤버십,무료,싹틔우미,노블,골드,블루,그린
0,50.00000,M,20220206,1615,2022-03-02,1930,1층 B블록12열 7,180000,0,일반,20220109.00000,20220110.00000,독주,0,Y,"국립합창단 위대한 합창 Ⅰ, 칼 오르프 & 카르미나 부라나",0,"윤의중, 박미자, 박의준, 한명원 등",NaN,1시간 10분,만 7세 이상,NaN,"[30000, 20000, 10000]",30000.00000,20000.00000,10000.00000,1039,2,[무료],1,0,0,0,0,0

In [ ]:
import pandas as pd

# 주어진 조건에 따라 값을 추출하는 함수
def parse_seat_info(seat_str):
    parts = seat_str.split()

    # floor 처리
    if '합창석' in parts[0]:
        floor = 0
    else:
        floor = int(parts[0].split('층')[0])

    # block 처리
    if 'BOX' in parts[1]:
        block = int(parts[1].split('BOX')[1])
        row = 0
    elif '블록' in parts[1]:
        block = parts[1].split('블록')[0]
        row = int(parts[1].split('열')[0].split('블록')[1])
    else:
        block = None
        row = None

    # number 처리
    number = int(parts[2])

    return pd.Series([floor, block, row, number], index=['floor', 'block', 'row', 'number'])

In [ ]:
# apply 함수를 사용하여 새로운 컬럼 생성
sub_df = merged_df['좌석'].apply(parse_seat_info)

In [ ]:
sub_df.rename(columns={'floor': '층', 'block': '블록', 'row': '열', 'number': '좌석번호'}, inplace=True)

In [ ]:
sub_df.head(1)

   층 블록   열  좌석번호
0  1  B  12     7

In [ ]:
merged_df = pd.concat([merged_df, sub_df], axis=1)

In [ ]:
merged_df.head(1)

,연령,성별,예매일자,예매시간,공연일자,공연시작시간,좌석,결제가격,취소여부,할인내역,선예매시작일,예매시작일,장르,휴게시간,회원여부,공연명,내한여부,출연진,제작진,러닝타임,관람연령,제작사,가격종류,R석,S석,A석,티켓판매량,요일,멤버십,무료,싹틔우미,노블,골드,블루,그린,층,블록,열,좌석번호
0,50.00000,M,20220206,1615,2022-03-02,1930,1층 B블록12열 7,180000,0,일반,20220109.00000,20220110.00000,독주,0,Y,"국립합창단 위대한 합창 Ⅰ, 칼 오르프 & 카르미나 부라나",0,"윤의중, 박미자, 박의준, 한명원 등",NaN,1시간 10분,만 7세 이상,NaN,"[30000, 20000, 10000]",30000.00000,20000.00000,10000.00000,1039,2,[무료],1,0,0,0,0,0,1,B,12,7

In [ ]:
merged_df.to_csv('/content/drive/MyDrive/2023빅콘/data/예술의전당/kopis_final.csv', index=False)