In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
%pwd

'/content'

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/2023빅콘/data/2023빅콘테스트_어드밴스드리그_예술의전당.csv')

In [ ]:
df.columns

Index(['age', 'gender', 'membership_type_1', 'membership_type_2',
       'membership_type_3', 'membership_type_4', 'membership_type_5',
       'membership_type_6', 'tran_date', 'tran_time', 'play_date',
       'play_st_time', 'seat', 'price', 'ticket_cancel', 'discount_type',
       'performance_code', 'pre_open_date', 'open_date', 'genre', 'place',
       'running_time', 'intermission', 'member_yn'],
      dtype='object')

In [ ]:
df.head(3)

,age,gender,membership_type_1,membership_type_2,membership_type_3,membership_type_4,membership_type_5,membership_type_6,tran_date,tran_time,...,ticket_cancel,discount_type,performance_code,pre_open_date,open_date,genre,place,running_time,intermission,member_yn
0,50.0,F,골드,무료,그린,NaN,NaN,NaN,20220114,1512,...,2,일반,302,20220114.0,20220115.0,교향곡,콘서트홀,120,15,Y
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20211003,1550,...,0,초대권,1120,NaN,20210823.0,독주,리사이틀홀,90,15,N
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20220917,1520,...,0,초대권,2283,20220911.0,20220911.0,독주,IBK챔버홀,80,15,N

### genre

In [ ]:
df[df['place'] == '콘서트홀']['genre'].unique()

array(['교향곡', '독주', '클래식', '오페라', '합창', '성악', '실내악', '콘서트', nan, '복합장르',
       '기타', '재즈', '크로스오버', '가족극'], dtype=object)

In [ ]:
genre_counts = df['genre'].value_counts()
genre_counts

교향곡      547382
독주       434579
실내악      339716
클래식      305782
합창       117683
성악        80210
콘서트       27112
오페라       22613
복합장르       9416
기타         6452
크로스오버      2211
재즈         1325
전시          266
무용          155
가족극         124
Name: genre, dtype: int64

In [ ]:
df['place'].unique()

array(['콘서트홀', '리사이틀홀', 'IBK챔버홀'], dtype=object)

In [ ]:
place_counts = df['place'].value_counts()
place_counts

콘서트홀      1096968
IBK챔버홀     477410
리사이틀홀      346490
Name: place, dtype: int64

In [ ]:
concert_genre_counts = df[df['place'] == '콘서트홀']['genre'].value_counts()
concert_genre_counts

교향곡      522271
클래식      236966
합창       112297
독주        63503
성악        40385
실내악       34129
콘서트       23918
오페라       21707
복합장르       8705
기타         5843
재즈         1080
크로스오버       967
가족극         124
Name: genre, dtype: int64

In [ ]:
ibk_genre_counts = df[df['place'] == 'IBK챔버홀']['genre'].value_counts()
ibk_genre_counts

실내악      252623
독주       106382
클래식       57521
성악        27368
교향곡       21959
합창         5386
콘서트        2644
오페라         906
복합장르        711
크로스오버       678
재즈          245
기타          218
Name: genre, dtype: int64

In [ ]:
recytle_genre_counts = df[df['place'] == '리사이틀홀']['genre'].value_counts()
recytle_genre_counts

독주       264694
실내악       52964
성악        12457
클래식       11295
교향곡        3152
크로스오버       566
콘서트         550
기타          391
전시          266
무용          155
Name: genre, dtype: int64

In [ ]:
genre_nan_counts = df[df['genre'].isna()]['place'].value_counts()
genre_nan_counts

콘서트홀      25073
IBK챔버홀      769
Name: place, dtype: int64

In [ ]:
place_nan_counts = df[df['place'].isna()]['place'].value_counts()
place_nan_counts

Series([], Name: place, dtype: int64)

In [ ]:
len(df[df['place'] == '콘서트홀']['seat'].unique())

2509

In [ ]:
df[df['place'] == '콘서트홀']['seat'].unique()[:100]

array(['3층 BOX9 10', '1층 B블록12열 7', '1층 A블록2열 1', '3층 E블록4열 8',
       '2층 D블록8열 4', '1층 C블록17열 3', '3층 BOX9 5', '3층 BOX12 3',
       '2층 D블록8열 3', '1층 C블록2열 2', '2층 E블록3열 16', '2층 BOX2 2',
       '1층 C블록20열 4', '1층 D블록10열 8', '1층 B블록7열 7', '3층 G블록5열 8',
       '1층 B블록21열 9', '1층 B블록17열 4', '1층 D블록18열 6', '3층 M블록1열 2',
       '1층 C블록15열 8', '1층 B블록3열 7', '3층 F블록5열 5', '1층 E블록17열 1',
       '1층 D블록7열 11', '1층 D블록22열 3', '3층 G블록1열 5', '1층 C블록4열 6',
       '1층 B블록7열 5', '1층 E블록19열 3', '3층 F블록4열 3', '1층 C블록6열 7',
       '2층 C블록7열 7', '2층 A블록4열 7', '1층 A블록8열 1', '1층 B블록16열 6',
       '1층 C블록1열 10', '3층 D블록7열 13', '1층 A블록15열 4', '1층 B블록14열 11',
       '1층 C블록6열 13', '1층 A블록21열 5', '2층 E블록3열 13', '1층 B블록18열 11',
       '1층 D블록13열 3', '3층 G블록3열 2', '1층 B블록13열 11', '합창석 G블록2열 24',
       '1층 C블록1열 4', '2층 E블록2열 4', '1층 E블록6열 2', '3층 F블록6열 6',
       '3층 BOX11 5', '1층 C블록19열 8', '3층 D블록7열 3', '1층 A블록11열 7',
       '1층 C블록8열 4', '1층 E블록17열 10', '1층 D블록12열 2', '1층 D블록5열 10',
       '1층 E블록15열 5', '2층 B블록1열 4', '1층 D블록12열 5', '1층 D블록21열 5',
       '2층 E블록6열 13', '1층 C블록12열 3', '1층 C블록12열 10', '1층 C블록3열 6',
       '3층 E블록7열 10', '3층 E블록5열 3', '1층 D블록6열 1', '2층 E블록4열 6',
       '1층 A블록16열 8', '1층 E블록18열 3', '1층 C블록2열 6', '3층 A블록4열 14',
       '2층 A블록5열 6', '2층 E블록2열 3', '1층 B블록19열 12', '2층 B블록1열 9',
       '2층 BOX3 3', '1층 E블록21열 5', '3층 BOX11 8', '1층 C블록5열 5',
       '1층 D블록9열 5', '1층 D블록9열 2', '1층 A블록1열 7', '1층 C블록19열 4',
       '1층 D블록15열 11', '1층 E블록22열 6', '3층 G블록6열 4', '2층 E블록3열 18',
       '2층 B블록3열 8', '3층 A블록3열 3', '1층 E블록13열 2', '1층 D블록11열 12',
       '1층 C블록14열 8', '1층 C블록4열 10', '1층 A블록21열 2', '1층 B블록21열 11'],
      dtype=object)

In [ ]:
df[df['place'] == '콘서트홀']['seat'].value_counts()

1층 C블록13열 1    830
1층 C블록4열 2     815
1층 C블록4열 8     788
1층 C블록4열 4     782
1층 C블록2열 6     775
              ...
1층 C블록22열 6     24
2층 A블록8열 13      8
2층 E블록8열 13      8
2층 A블록8열 12      8
2층 E블록8열 12      6
Name: seat, Length: 2509, dtype: int64

In [ ]:
df[df['place'] == 'IBK챔버홀']['seat'].value_counts()

1층 B블록 10열 1    1329
2층 A블록 1열 13    1179
1층 B블록 10열 4    1110
1층 B블록 10열 2    1105
1층 B블록 4열 8     1097
                ...
1층 C블록 17열 2     176
1층 C블록 17열 1     167
1층 A블록 17열 3     113
1층 A블록 17열 2      68
1층 A블록 17열 1      51
Name: seat, Length: 600, dtype: int64

In [ ]:
df[df['place'] == '콘서트홀']['seat'].value_counts()[:50]

1층 C블록13열 1     830
1층 C블록4열 2      815
1층 C블록4열 8      788
1층 C블록4열 4      782
1층 C블록2열 6      775
1층 C블록5열 11     763
1층 C블록3열 5      757
1층 C블록3열 7      751
1층 C블록4열 6      748
1층 C블록2열 8      744
1층 B블록15열 13    743
1층 C블록1열 9      742
1층 B블록3열 10     740
1층 C블록5열 5      739
1층 A블록15열 12    739
1층 C블록1열 7      737
1층 C블록3열 9      733
1층 A블록15열 9     730
1층 A블록15열 10    728
1층 A블록15열 11    727
1층 B블록15열 12    725
1층 B블록3열 7      724
1층 C블록3열 1      722
1층 C블록13열 2     721
1층 B블록1열 9      721
1층 C블록13열 4     720
1층 C블록13열 3     719
1층 C블록2열 4      719
1층 C블록4열 10     715
1층 C블록1열 11     713
2층 C블록7열 12     711
1층 C블록4열 12     711
2층 C블록7열 13     711
1층 C블록1열 1      711
2층 C블록7열 1      711
2층 C블록7열 2      710
1층 C블록6열 3      710
1층 B블록3열 9      708
1층 C블록4열 1      707
1층 C블록1열 5      707
2층 BOX1 1       707
1층 C블록5열 9      705
1층 C블록5열 3      702
1층 D블록3열 1      700
1층 C블록3열 3      699
1층 C블록3열 11     696
1층 C블록6열 2      694
1층 B블록4열 10     692
1층 C블록5열 7      690
1층 C블록6열 6      689
Name: seat, dtype: int64

In [ ]:
df[df['place'] == '콘서트홀']['seat'].value_counts()

1층 C블록13열 1    830
1층 C블록4열 2     815
1층 C블록4열 8     788
1층 C블록4열 4     782
1층 C블록2열 6     775
              ...
1층 C블록22열 6     24
2층 A블록8열 13      8
2층 E블록8열 13      8
2층 A블록8열 12      8
2층 E블록8열 12      6
Name: seat, Length: 2509, dtype: int64

In [ ]:
df[df['place'] == '콘서트홀'].groupby('genre').apply(lambda x: x['seat'].value_counts().nlargest(3))

genre
가족극    1층 C블록10열 2       3
       1층 C블록15열 3       2
       1층 C블록11열 8       2
교향곡    1층 C블록4열 2      416
       1층 C블록2열 6      414
       1층 C블록13열 1     412
기타     1층 D블록4열 10       5
       1층 B블록10열 11      4
       1층 B블록11열 6       4
독주     1층 B블록7열 10      63
       2층 BOX3 1        62
       1층 C블록2열 10      61
복합장르   1층 D블록5열 2       16
       1층 C블록12열 6      14
       1층 B블록11열 12     14
성악     1층 B블록1열 9       38
       1층 C블록2열 4       37
       1층 C블록1열 6       35
실내악    1층 C블록6열 8       49
       1층 C블록5열 11      48
       1층 C블록4열 4       46
오페라    1층 C블록8열 10      25
       1층 C블록6열 2       22
       1층 C블록8열 12      22
재즈     1층 B블록14열 12      4
       2층 BOX2 1         4
       2층 BOX2 2         4
콘서트    1층 E블록1열 7       26
       1층 D블록11열 7      23
       1층 D블록14열 6      23
크로스오버  3층 A블록5열 3        4
       3층 A블록4열 4        4
       3층 A블록4열 5        3
클래식    2층 BOX3 1       186
       1층 C블록1열 9      175
       1층 C블록13열 1     174
합창     1층 C블록6열 9       78
       1층 C블록13열 1      78
       1층 D블록5열 1       78
Name: seat, dtype: int64

In [ ]:
df[df['place'] == '콘서트홀'][['tran_date', 'tran_time', 'play_date', 'play_st_time', 'pre_open_date', 'open_date']]

In [ ]:
# 날짜 컬럼들을 datetime 객체로 변환
df['pre_open_date'] = pd.to_datetime(df['pre_open_date'])
df['open_date'] = pd.to_datetime(df['open_date'])
df['tran_date'] = pd.to_datetime(df['tran_date'])

# 조건에 따라 연산을 적용하여 새로운 컬럼 'date_diff' 생성
df['date_diff'] = df.apply(lambda row: (row['tran_date'] - row['open_date']).days if row['tran_date'] > row['open_date'] else (row['tran_date'] - row['pre_open_date']).days, axis=1)

In [ ]:
df[df['place'] == '콘서트홀']['ticket_cancel'].unique()

array([2, 0])

In [ ]:
df[(df['place'] == '콘서트홀') & (df['ticket_cancel'] == 2)]['date_diff'].value_counts()

 0.0    210143
-1.0      3075
Name: date_diff, dtype: int64

In [ ]:
df[(df['ticket_cancel'] == 2) & (df['date_diff'] == -1) & (df['place'] == '콘서트홀')]['tran_date']

15        1970-01-01 00:00:00.020221030
64        1970-01-01 00:00:00.020220905
97        1970-01-01 00:00:00.020211118
431       1970-01-01 00:00:00.020220909
1328      1970-01-01 00:00:00.020220905
                       ...
1916913   1970-01-01 00:00:00.020220905
1917934   1970-01-01 00:00:00.020220131
1919356   1970-01-01 00:00:00.020200420
1919896   1970-01-01 00:00:00.020211118
1920292   1970-01-01 00:00:00.020200523
Name: tran_date, Length: 3075, dtype: datetime64[ns]

In [ ]:
nan_values = {
    'tran_date': df[df['place'] == '콘서트홀']['tran_date'].isna().sum(),
    'open_date': df[df['place'] == '콘서트홀']['open_date'].isna().sum(),
    'pre_open_date': df[df['place'] == '콘서트홀']['pre_open_date'].isna().sum(),
    'ticket_cancel': df[df['place'] == '콘서트홀']['ticket_cancel'].isna().sum(),
    'open_date_diff': df[df['place'] == '콘서트홀']['open_date_diff'].isna().sum()
}

print(nan_values)

{'tran_date': 0, 'open_date': 0, 'pre_open_date': 395645, 'ticket_cancel': 0, 'open_date_diff': 60522}

In [ ]:
# '콘서트홀'에 대한 필터 적용
filtered_df = df[df['place'] == '콘서트홀']

# 'open_date_diff' 값에 따른 전체 행의 수
total_counts = filtered_df['open_date_diff'].value_counts()

# 'open_date_diff' 값에 따라 'ticket_cancel' 값이 2인 행의 수
cancel_2_counts = filtered_df[filtered_df['ticket_cancel'] == 2]['open_date_diff'].value_counts()

# 비율 계산
proportions = (cancel_2_counts / total_counts).fillna(0)

print(proportions)

 0.0    0.207409
-1.0    0.132178
Name: open_date_diff, dtype: float64

In [ ]:
len(df[(df['tran_date'] < df['open_date']) & (df['pre_open_date'].isna()) & (df['place'] == '콘서트홀')])

33224

In [ ]:
len(df[(df['tran_date'] < df['open_date']) & (df['pre_open_date'].isna()) & (df['place'] == '콘서트홀')])

In [ ]:
df['play_date']

0          20220204
1          20211009
2          20221105
3          20190731
4          20220302
             ...
1920863    20190706
1920864    20230408
1920865    20210619
1920866    20211127
1920867    20210619
Name: play_date, Length: 1920868, dtype: int64

In [ ]:
import pandas as pd

# 'play_date'를 datetime 객체로 변환
df['play_date'] = pd.to_datetime(df['play_date'].astype(str))

# 요일을 숫자로 반환 (0: 월요일, 1: 화요일, ... , 6: 일요일)
df['day_of_week_num'] = df['play_date'].dt.dayofweek

# 숫자를 해당 요일명으로 매핑
days = {0: '월', 1: '화', 2: '수', 3: '목', 4: '금', 5: '토', 6: '일'}
df['day_of_week'] = df['day_of_week_num'].map(days)

# 결과 확인
print(df[['play_date', 'day_of_week']])

         play_date day_of_week
0       2022-02-04           금
1       2021-10-09           토
2       2022-11-05           토
3       2019-07-31           수
4       2022-03-02           수
...            ...         ...
1920863 2019-07-06           토
1920864 2023-04-08           토
1920865 2021-06-19           토
1920866 2021-11-27           토
1920867 2021-06-19           토

[1920868 rows x 2 columns]

In [ ]:
df['day_of_week'].value_counts()

토    392545
일    370307
화    313980
수    295656
목    278708
금    269601
월        71
Name: day_of_week, dtype: int64

In [ ]:
import pandas as pd

# 'tran_date'와 'play_date'를 datetime 객체로 변환
df['play_date'] = pd.to_datetime(df['play_date'])
df['tran_date'] = pd.to_datetime(df['tran_date'])

# 두 컬럼의 차이 계산하여 'date_diff'라는 새로운 컬럼에 저장
df['play_diff'] = df.apply(lambda row: (row['play_date'] - row['tran_date']).days, axis=1)

# 결과 확인
df['play_diff'].unique()

array([0])

## 좌석 쪼개기

?층 | ?블록?열 | ??  
?층 | BOX?? | ??  
합창석 | ?블록?열 ??  

* 합창석의 경우 `층`이 없어 0으로 표기함
* box의 경우 `열`이 없어 0으로 표기함
- 블록, box 둘 다 해당 X인 경우 0으로 표기함 -> 콘서트홀은 해당 없을듯?

층/합창석(0) | 블록(chr)/BOX(int) | 열(int) | number(int)
------------|--------------------|---------|------------
3           |9                   |0        |10
1           |0                   |7        |5
1           |C                   |16       |3

In [ ]:
df['seat'].head(3)

0      3층 BOX9 10
1         1층 7열 5
2    1층 C블록 16열 3
Name: seat, dtype: object

In [ ]:
df[df['place'] == '콘서트홀']['seat'].head(3)

0     3층 BOX9 10
4    1층 B블록12열 7
5     1층 A블록2열 1
Name: seat, dtype: object

In [ ]:
import pandas as pd

# 주어진 조건에 따라 값을 추출하는 함수
def parse_seat_info(seat_str):
    parts = seat_str.split()

    # floor 처리
    if '합창석' in parts[0]:
        floor = 0
    else:
        floor = int(parts[0].split('층')[0])

    # block 처리
    if 'BOX' in parts[1]:
        block = int(parts[1].split('BOX')[1])
        row = 0
    elif '블록' in parts[1]:
        block = parts[1].split('블록')[0]
        row = int(parts[1].split('열')[0].split('블록')[1])
    else:
        block = None
        row = None

    # number 처리
    number = int(parts[2])

    return pd.Series([floor, block, row, number], index=['floor', 'block', 'row', 'number'])

In [ ]:
# apply 함수를 사용하여 새로운 컬럼 생성
df.loc[df['place'] == '콘서트홀', ['floor', 'block', 'row', 'number']] = df[df['place'] == '콘서트홀']['seat'].apply(parse_seat_info)

In [ ]:
df[df['place'] == '콘서트홀'][['seat', 'floor', 'block', 'row', 'number']]

                 seat  floor block   row  number
0          3층 BOX9 10    3.0     9   0.0    10.0
4         1층 B블록12열 7    1.0     B  12.0     7.0
5          1층 A블록2열 1    1.0     A   2.0     1.0
6          3층 E블록4열 8    3.0     E   4.0     8.0
7          2층 D블록8열 4    2.0     D   8.0     4.0
...               ...    ...   ...   ...     ...
1920853    1층 A블록2열 2    1.0     A   2.0     2.0
1920855    3층 A블록6열 4    3.0     A   6.0     4.0
1920856  1층 D블록16열 12    1.0     D  16.0    12.0
1920858   1층 D블록20열 8    1.0     D  20.0     8.0
1920864    3층 B블록5열 4    3.0     B   5.0     4.0

[1096968 rows x 5 columns]

In [ ]:
subset_df = df[df['place'] == '콘서트홀'][['seat', 'floor', 'block', 'row', 'number']]
subset_df[subset_df.isnull().any(axis=1)]

Empty DataFrame
Columns: [seat, floor, block, row, number]
Index: []

In [ ]:
df['floor']
df['block']
df['row']
df['number']